<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Visit Notes List</h2> <button (click)="createVisit()" class="btn btn-info" style="margin-left: 10px">Create</button>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Description</th>
        <th>Visit Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let visit of visits">
        <td>{{visit.description}}</td>
        <td>{{visit.visitDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

